{% extends 'base.html.twig' %}

{% block title %}Résultats des covoiturages{% endblock %}
{% block stylesheets %}<link href="{{ asset('css/list.css') }}" rel="stylesheet"/>{% endblock %}

{% block body %}
  <nav class="navbar">
        <div class="logo">
          <a href="index.html">
            <img src={{'images/ecoride.png'}} alt="Ecoride logo">
        </a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="covoiturage.html">Covoiturages</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <div class="login-icon">
                <a href="#login">
                  <img src={{'images/login-2.png'}} alt="Login Icon">
                </a>
        </div>
      </nav>
      <header>
        <div class="header-content">
        <img src={{'images/map.png'}} alt="carte de l'ile de france" class="map-image">
    </div>
        </div>
     </div>
      </header>
        <div class="filter-container">
          <div class="filter">
            <label for="price">Prix maximum (€)</label>
            <input type="number" id="price" placeholder="27" min="0" max="200">
          </div>
          <div class="filter">
            <label for="duration">Durée max du voyage (En heure)</label>
            <input type="number" id="duration" placeholder="2h35" min="0" max="24h">
          </div>
          <div class="filter">
            <label for="fuel">Carburant</label>
            <select id="fuel">
              <option value="gasoline">Essence</option>
              <option value="diesel">Diesel</option>
              <option value="electric">Électrique</option>
            </select>
          </div>
          <div class="filter">
            <label for="rating">Note du conducteur (sur 5)</label>
            <input type="number" id="rating" placeholder="4" step="1" min="0" max="5">
          </div>
          <div class="button">
            <button type="submit">Rechercher</button>
          </div>
        </div>
<div class="carpoolings">
    {% for carpooling in carpoolings %}
    <div class="carpooling">
        <ul>
                <li>{{ carpooling.id }}</li>
                <li>{{ carpooling.placeOfDeparture }}</li>
                <li>{{ carpooling.placeOfArrival }}</li>
        </ul>
        </div>
    {% endfor %}
</div>    
       
        <footer class="footer">
          <div class="footer-container">
            <div class="logo-footer">
              <a href="index.html">
                <img src={{'images/ecoride.png'}} alt="Ecoride logo">
              </a>
              <div class="menu-footer">
                <ul>
                  <li><a href="#">Mentions légales</a></li>
                  <li><a href="#">Protection des données</a></li>
                  <li><a href="#">Politique de confidentialité</a></li>
                </ul>
              </div>
            </div>
            <div class="entreprise">
              <ul>
                <li><a href="mailto:support@ecoride.com">Support@ecoride.com</a></li>
                <li><a href="#">Aide et Contact</a></li>
              </ul>
            </div>
          </div>
        </footer>
{% endblock %}