{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block stylesheets %}<link href="{{ asset('css/login.css') }}" rel="stylesheet"/>{% endblock %}

{% block body %}

    <nav class="navbar">
        <div class="logo">
          <a href="{{ path('app_home') }}">
            <img src="{{ asset('images/ecoride.png') }}" alt="Ecoride logo">
        </a>
        </div>
        <div class="menu">
           <ul>
    <li class="{% if app.request.get('_route') == 'app_home' %}active{% endif %}">
        <a href="{{ path('app_home') }}">Accueil</a>
    </li>
    <li class="{% if app.request.get('_route') == 'app_carpooling' %}active{% endif %}">
        <a href="{{ path('app_carpooling') }}">Covoiturages</a>
    </li>
    <li class="{% if app.request.get('_route') == 'app_contact' %}active{% endif %}">
        <a href="{{ path('app_contact') }}">Contact</a>
    </li>
        </ul>
            <div class="login-icon">
                <a href="{{ path('app_login') }}">
                   <img src="{{'images/login-2.png'}}" alt="Login Icon">
                </a>
        </div>
      </nav>
      
      <div class="contact-container">
        <h1>Connexion</h1>
        <form class="contact-form" action="#" method="POST">
          <label for="email">Adresse e-mail</label>
          <input type="email" id="email" name="email" placeholder="Entrez votre adresse e-mail" required>
          <label for="password">Mot de passe</label>
          <input type="password" id="password" name="password" placeholder="Mot de passe" required>
          <button type="submit">Se connecter</button>
        </form>
        <p>Pas de compte ? <a href="#">Inscrivez vous</a></p>
        
      </div>

      <footer class="footer">
        <div class="footer-container">
          <div class="logo-footer">
            <a href="{{ path('app_home') }}">
              <img src="{{ asset('images/ecoride.png') }}" alt="Ecoride logo">
            </a>
            <div class="menu-footer">
              <ul>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Protection des données</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
              </ul>
            </div>
          </div>
          <div class="entreprise">
            <ul>
              <li><a href="mailto:support@ecoride.com">Support@ecoride.com</a></li>
              <li><a href="#">Aide et Contact</a></li>
            </ul>
          </div>
        </div>
      </footer>

{% endblock %}
